$body-color: #666;
$primary : #8a3e86;
$secondary : #8a3e86;
$font-size-base: 0.9375rem;
$font-weight-light : 200;
$font-weight-normal : 300;
$font-weight-bold : 600;
$font-family-base : 'Nunito',
sans-serif;
$headings-font-family : 'Nunito Sans',
sans-serif;
$link-color : $secondary;
$link-hover-decoration : none;
