.who-we-are {
    background-image: url(../images/second1.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: bottom right;
    padding: 100px 0 180px;
    position: relative;
    z-index: 1;

    @media (max-width: 768px) {
        background-image: none;
        background-color: #efefef;
    } // .logo-content {
    // 	border: 12px solid #fff;
    // 	padding: 20px;
    // 	position: relative;
    // 	&:before,
    // 	&:after {
    // 		z-index: -1;
    //  position: absolute;
    //  content: "";
    //  bottom: 15px;
    //  left: 10px;
    //  width: 50%;
    //  top: 80%;
    //  max-width:300px;
    //  background: #777;
    //  -webkit-box-shadow: 0 15px 10px #777;
    //  -moz-box-shadow: 0 15px 10px #777;
    //  box-shadow: 0 15px 10px #777;
    //  -webkit-transform: rotate(-3deg);
    //  -moz-transform: rotate(-3deg);
    //  -o-transform: rotate(-3deg);
    //  -ms-transform: rotate(-3deg);
    //  transform: rotate(-3deg);
    // 	}
    // 	&:after {
    // 		-webkit-transform: rotate(3deg);
    //  -moz-transform: rotate(3deg);
    //  -o-transform: rotate(3deg);
    //  -ms-transform: rotate(3deg);
    //  transform: rotate(3deg);
    //  right: 10px;
    //  left: auto;
    // 	}
    // }
    .logo-content {
        position: relative;
        background-color: #efefef;
        border: 11px solid #fff;
        padding: 30px;
        -webkit-box-shadow: 0px 0px 17px 2px rgba(189, 189, 189, 0.37);
        -moz-box-shadow: 0px 0px 17px 2px rgba(189, 189, 189, 0.37);
        box-shadow: 0px 0px 17px 2px rgba(189, 189, 189, 0.37);
    }
    .logo-content:before,
    .logo-content:after {
        z-index: -1;
        position: absolute;
        content: "";
        bottom: 4px;
        left: 10px;
        width: 50%;
        top: 80%;
        max-width: 300px;
        background: #777;
        -webkit-box-shadow: 0 15px 10px #777;
        -moz-box-shadow: 0 15px 10px #777;
        box-shadow: 0 15px 10px #777;
        -webkit-transform: rotate(-3deg);
        -moz-transform: rotate(-3deg);
        -o-transform: rotate(-3deg);
        -ms-transform: rotate(-3deg);
        transform: rotate(-3deg);
    }
    .logo-content:after {
        -webkit-transform: rotate(3deg);
        -moz-transform: rotate(3deg);
        -o-transform: rotate(3deg);
        -ms-transform: rotate(3deg);
        transform: rotate(3deg);
        right: 10px;
        left: auto;
    }
}